*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

header{
    width: 100%;
    height: 15vh;
}

.menubtn{
    margin-right: 60px;
}

.mainheader button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: none;
    border-radius: 10px;
}

.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
       
.mainheader .logo img{
    margin-top: 25px;
    width: 250px;
    height: 70px;
    padding-left: 60px;
}
.contact{
    position: relative;
    min-height: 40vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 00px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.contact .content p{
    font-size: 20px;
    font-weight: 500;
    color: rgb(5, 5, 5);
    font-family: sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #121313;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 760px){
    body {
        background-color: beige;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
    }
    .mainheader .logo img{
        margin-top: 10px;
        width: 150px;
        height: 50px;
        padding-left: 20px;
    }
    .menubtn{
        margin-right: 10px;
        margin-top: 30px;
    }
    .mainheader button{
        padding: 10px 30px;
        text-align: center;
        font-size: 10px;
        color: rgb(94, 87, 87);
        border: none;
        background-image: none;
        border-radius: 10px;
    }
    .mainheader{
        width: 100%;
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contactForm{
        width: 100%;
        padding: 40px;
        background: #fff;
    }
    .contactForm h2{
        font-size: 30px;
        color: #333;
        font-weight: 500;
    }
    .contactForm .inputBox{
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    .container .contactInfo{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo,
    .contactForm{
        margin-bottom: 40px;
    }
}

footer{
    background-color: beige;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 20px 0;
  }
  
  .footer-container{
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  .social-media{
    margin: 20px 0;
  }
  
  .social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
  }
  
  .social-media a:hover{
    color: #fc5c65;
  }
  
  .right-col h1{
    font-size: 30px;
  }
  
  .border{
    margin-left: 100px;
    margin-right: 200px;
    width: 1300px;
    height: 4px;
    background: #001a21;
  }
  
  .newsletter-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .txtb{
    flex: 1;
    padding: 12px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    min-width: 200px;
  }
  
  .btn{
    padding: 12px 20px;
    font-size: 16px;
    color: #f1f1f1;
    background: #fc5c65;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
  }
  
  .btn:hover{
    opacity: .7;
  }
  
  @media screen and (max-width:760px) {
    .border{
      margin-left: 20px;
      width: 445px;
      height: 4px;
      background: #fc5c65;
    }
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 00px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }
  
  @media screen and (max-width:760px){
    .btn{
      margin: 0;
      width: 100%;
      margin-top: 20px;
      }
  }  