*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
  background-size: auto;
}

body {
  background-color: beige;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
  
header{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
  
.mainheader{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.mainheader .logo img{
  margin-top: 25px;
  width: 250px;
  height: 70px;
  padding-left: 60px;
}
  
.mainheader nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.mainheader nav a{
  font-size: 14px;
  text-decoration: none;
  color: rgb(12, 11, 11);
  text-transform: uppercase;
}
  
nav a{
  text-decoration: none;
  color:rgb(255, 0, 0);
  padding: 05px 20px;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
  
nav a:hover{
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-family: Arial;
}

.dropdown {
  float: left;
  overflow: hidden;
}
    
.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(12, 11, 11);
  text-transform: uppercase;
  background-color: inherit;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.dropdown .dropbtn2 {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(12, 11, 11);
  text-transform: uppercase;
  background-color: inherit;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

.dropdown .dropbtn3 {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(12, 11, 11);
  text-transform: uppercase;
  background-color: inherit;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
    
nav a:hover, .dropdown:hover .dropbtn {
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

nav a:hover, .dropdown:hover .dropbtn2 {
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

nav a:hover, .dropdown:hover .dropbtn3 {
  color: rgb(255, 0, 0);
  text-decoration: underline;
  font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}
    
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
    
.dropdown-content a {
  float: none;
  color: black;
  font-size: 10px;
  padding: 07px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
    
.dropdown:hover .dropdown-content {
  display: table-row-group;
}
    
  
.menubtn{
  padding: 10px 10px;
  margin-top: 40px;
  margin-right: 60px;
}
  
.mainheader button{
  padding: 10px 25px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}
  
  
main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
main .right-sec{
  padding-right: 70px;
}
  
main .left-sec{
  padding-left: 10px;
}
  
.left-sec h2{
  margin-left: 50px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #242424;
  margin-top: 400px;
}
  
.left-sec h1{
  margin-top: 380px;
  margin-left: 50px;
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
}
  
.left-sec p{
  margin-left: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}
  
.left-sec button{
  margin-left: 50px;
  padding: 15px 25px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 760px){
  body{
      height: 100vh;
      width: 100%;
      background-color: linear-gradient(to right,#649bff,#0070fa,#649bff);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100%;
  }
  .mainheader .logo img{
      margin-top: 10px;
      width: 150px;
      height: 50px;
      padding-left: 20px;
  }
  .menubtn{
      margin-right: 10px;
      margin-top: 30px;
  }
  .mainheader button{
      padding: 10px 30px;
      text-align: center;
      font-size: 10px;
      color: rgb(94, 87, 87);
      border: none;
      background-image: none;
      border-radius: 10px;
  }
  .mainheader{
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  main .right-sec{
    padding-right: 70px;
  }
    
  main .left-sec{
    padding-left: 10px;
  }
    
  .left-sec h2{
    margin-left: 50px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #242424;
    margin-top: 400px;
  }
    
  .left-sec h1{
    margin-top: 300px;
    margin-left: 50px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;
  }
    
  .left-sec p{
    margin-left: 120px;
    font-size: 22px;
    margin-bottom: 20px;
  }
    
  .left-sec button{
    margin-left: 170px;
    padding: 15px 25px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
    border-radius: 10px;
    cursor: pointer;
  }
}

  /*footer*/
    
footer{
  background: none;
  padding: 20px 0;
}
    
.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
    
.social-media{
  margin: 20px 0;
}
    
.social-media a{
  color: #001a21;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: .3s linear;
}
    
.social-media a:hover{
  color: #fc5c65;
}
    
.right-col h1{
  font-size: 30px;
}
    
.border{
  margin-left: 100px;
  margin-right: 200px;
  width: 1300px;
  height: 4px;
  background: #001a21;
}
    
.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
    
.txtb{
  flex: 1;
  padding: 12px 40px;
  font-size: 16px;
  color: #293043;
  background: #ddd;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  min-width: 200px;
}
    
.btn{
  padding: 12px 20px;
  font-size: 16px;
  color: #f1f1f1;
  background: #fc5c65;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity .3s linear;
}
    
.btn:hover{
  opacity: .7;
}
    
    
@media screen and (max-width: 760px) {
  .border{
    margin-left: 20px;
    width: 445px;
    height: 4px;
    background: #fc5c65;
  }
  .right-col h1{
    font-size: 30px;
    margin-left: 135px;
  }
  .right-col p{
    margin-left: 60px;
  }
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 05px;
  }
    
  .left-col{
    width: 100%;
    text-align: center;
  }
}
    
    
@media screen and (max-width:760px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
}  